@using PedidosOnline.Models;
@model List<PedidosOnline.Models.CertificadoMadera>
@{
    ViewBag.Title = "ListaCertificadoMadera";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    a {
        color: #333;
    }
</style>
<script>

    $(document).ready(function () {
        $('tblCertificadoMadera').dataTable({
            " processing": true,
            "bFilter": true,
            "bPaginate": true,
            "info": false,
            "bDestroy":true,
            aLengthMenu: [
            [15, 25, 50, 100, -1],
            [15, 25, 50, 100, "All"]
            ],
            "iDisplayLength": 15

        });

    });
</script>
<div class="panel">
    <div class="row">
        <div>
            <div class="nav">
                <span>
                    &nbsp;&nbsp;
                    <a href="@Url.Action("CertificadoMadera", "CertificadoMadera")" class="alink">
                        <i class="glyphicon glyphicon-plus"></i>&nbsp;<span class="lang" key="NUEVO">Nuevo</span>
                    </a>
                </span>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <table id="tblCertificadoMadera" class="table table-condensed table-striped table-bordered table-hover table-checkable table-responsive">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Para</th>
                        <th>Buque</th>
                        <th>Descripción Bienes</th>
                        <th>Documento B/L</th>
                        <th>Lugar inspección</th>
                        <th>Día inspección</th>
                        <th>Inspector</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (PedidosOnline.Models.CertificadoMadera certificado in ViewBag.certificados)
                    {
                        <tr>
                            <td>@certificado.RowID</td>
                            <td>@certificado.Para</td>
                            <td>@certificado.MotoNave.Nombre</td>
                            <td>@certificado.DescripcionBienes</td>
                            <td>@certificado.MatrizBL.NumeroReserva</td>
                            <td>@certificado.Ciudad.Nombre</td>
                            <td>@certificado.DiaInspeccion</td>
                            <td>@certificado.Inspector</td>
                            <td><a href="@Url.Action("CertificadoMadera", "CertificadoMadera", new { RowID = certificado.RowID })"><i class="glyphicon glyphicon-pencil"></i></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

