@using PedidosOnline.Models;
@model List<PedidosOnline.Models.Calculadora>
@{
    ViewBag.Title = "ListCalculadoras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<system.web>
    <compilation debug="true" targetFramework="4.0">
        <assemblies>
            <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        </assemblies>
    </compilation>
</system.web>
<style>
    a {
        color: #333;
    }
</style>
<script>

    $(document).ready(function () {
        $('table').dataTable({
            " processing": true,
            "bFilter": true,
            "bPaginate": true,
            "info": false,
            "bDestroy":true,
            aLengthMenu: [
            [15, 25, 50, 100, -1],
            [15, 25, 50, 100, "All"]
            ],
            "iDisplayLength": 15

        });

    });
</script>

<br />
<div class="row ">
    <div class="row" id="div_menu" style="margin-bottom:20px">
        <div class="col-md-12">
            <div class=" col-md-2">
                <span>
                    <a href="@Url.Action( "Calculadora","Exportacion",new {   @rih = Request.Params["rih"] })" class="alink">
                        <i class="glyphicon glyphicon-plus"></i>&nbsp;<SPAN class="lang" key="NUEVO">Nuevo</SPAN>
                    </a>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <table id="table" class="table table-condensed table-striped table-bordered table-hover table-checkable table-responsive">
            <thead>
                <tr>
                    <th></th>
                    <th class="lang">Identificacicon</th>
                    <th class="lang">Cliente</th>
                    <th class="lang">Destino</th>
                    <th class="lang">INCOTERMS</th>
                    <th class="lang">Fecha de planeacion</th>
                </tr>
            </thead>
            <tbody style="text-align:center;">
                @foreach (Calculadora cal in Model.ToList())
                {

                    <tr>
                        <td>
                            <a href="@Url.Action("Calculadora", "Exportacion", new { @rowid = @cal.RowID, @rih = Request.Params["rih"] })"><i class="glyphicon glyphicon-search"> </i></a>
                        </td>
                        <td>
                            #@cal.RowID
                        </td>
                        <td>
                            @cal.Tercero.RazonSocial
                        </td>
                        <td>
                            @cal.Ciudad.Nombre
                        </td>
                        <td>
                            @cal.Opcion.Nombre
                        </td>
                        <td>
                            @cal.Fecha.ToString("dd/MM/yyyy")
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

