@using PedidosOnline.Models;
@model List<PedidosOnline.Models.CartaLlenadoPuerto>
@{
    ViewBag.Title = "CartaLlenadoPuerto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    a {
        color: #333;
    }
</style>
<script>

    $(document).ready(function () {
        $('tblCLlenadoPuerto').dataTable({
            " processing": true,
            "bFilter": true,
            "bPaginate": true,
            "info": false,
            "bDestroy":true,
            aLengthMenu: [
            [15, 25, 50, 100, -1],
            [15, 25, 50, 100, "All"]
            ],
            "iDisplayLength": 15

        });

    });
</script>
<div class="panel">
    <div class="row">
        <div>
            <div class="nav">
                <span>
                    &nbsp;&nbsp;
                    <a href="@Url.Action("CartaLlenadoPuerto", "Exportacion")" class="alink">
                        <i class="glyphicon glyphicon-plus"></i>&nbsp;<span class="lang" key="NUEVO">Nuevo</span>
                    </a>
                </span>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <table id="tblCLlenadoPuerto" class="table table-condensed table-striped table-bordered table-hover table-checkable table-responsive">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Motonave</th>
                        <th>Desc. Mercancia</th>
                        <th>Peso</th>
                        <th>Importador</th>
                        <th>Dirección</th>
                        <th>Placa</th>
                        <th>Conductor</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (PedidosOnline.Models.CartaLlenadoPuerto carta in ViewBag.cartasPuerto)
                    {
                        <tr>
                            <td>@carta.RowID</td>
                            <td>@carta.MotoNave.Nombre</td>
                            <td>@carta.DescripcionMercancia</td>
                            <td>@carta.Peso</td>
                            <td>@carta.Importador</td>
                            <td>@carta.Direccion</td>
                            <td>@carta.Vehiculo.Placa</td>
                            <td>@carta.Tercero.RazonSocial</td>
                            <td><a href="@Url.Action("CartaLlenadoPuerto", "Exportacion", new { RowID = carta.RowID })"><i class="glyphicon glyphicon-pencil"></i></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
