@model PedidosOnline.Models.CertificadoCalidad
@{
    ViewBag.Title = "CertificadoCalidad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Tabs.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=2.0, maximum-scale=1.0, minimum-scale=1.0">
<script type="text/javascript" src="~/Content/js/datetimepicker/jquery.datetimepicker.full.min.js"></script>
<link href="~/Content/js/datetimepicker/jquery.datetimepicker.css" rel="stylesheet">
<script>
    $(document).ready(function () {
        $('.calendario').datepicker({
            dateFormat: 'dd/mm/yy',
            minDate: 0,
            maxDate: '+3Y',
            inline: true
        });

        $('.solo-numero').keyup(function () {
            this.value = (this.value + '').replace(/[^0-9]/g, '');
        });

        $("#documentobl").autocomplete({
            source: "Buscar_MatricesBL",
            minLenght: 1,
            select: function (evento, ui) {//seleccion al autocompletar
                debugger
                if (ui.item != null) {//si hay valor en la seleccion autocompletar
                    $("#documentobl").val(ui.item.Label);
                    $("#documento_mtz").val(ui.item.RowID);
                    $("#cliente").val(ui.item.expedidor);
                }
            },
            change: function (event, ui) {

            }
        });

        $('#producto').autocomplete({
            source: "Buscar_Producto",
            minLength: 1,
            select: function (evento, ui) {
                debugger
                $('#producto').val(ui.item.label);
                $('#producto_id').val(ui.item.rowid);
            }
        });

    });

    function guardar_certificado_calidad(accion) {
        $.ajax({
            type: "POST",
            url: "/CertificadoCalidad/guardar_certificado",
            data: {
                formulario: $("#formPrincial").serialize(),
                Rowid_certificado: $("#rowid").val()
            },
            success: function (data2) {
                if(a == 1){
                    if (@Model.RowID >0) {
                        Mensajes('Guardado Satisfactoriamente','success','');
                    }
                    else
                    {
                        location.href="../Contrato/Contrato?rowid="+data2;
                    }
                    ModalProcesandoHiden();
                }
                else
                {
                    location.href="../Contrato/Contratos";
                }
            },
            error: function (request) {
                Mensajes(request.responseText, 'error', '');
                ModalProcesandoHiden();
            }
        });
    }

</script>
<div class="row">
    <div class="row" id="div_menu" style="margin-bottom:20px">
        <div class="col-md-12">
            <div class="nav">
                <span>
                    &nbsp;&nbsp;
                    <a href="@Url.Action("ListaCertificadoCalidad","Exportacion",new {  @rih = Request.Params["rih"] })" class="alink">
                        <i class="glyphicon glyphicon-list-alt"></i>&nbsp;<span class="lang" key="VISTA">Vista</span>
                    </a>
                </span>
                &nbsp;&nbsp;
                <span>
                    <a href="javascript:guardar_certificado_calidad(1);" class="alink">
                        <i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;<span class="lang" key="GUARDAR">Guardar</span>
                    </a>
                </span>
                <span>
                    &nbsp;&nbsp;
                    <a href="javascript:Guardar(2);" class="alink">
                        <i class="glyphicon glyphicon-floppy-disk"></i><span class="lang" key="GUARDAR_&_CERRAR">&nbsp;Guardar&nbsp;&&nbsp;Cerrar</span>
                    </a>
                </span>
            </div>
        </div>
    </div>
    <div class="tabbable tabbable-custom tabs-top">
        <ul class="nav nav-tabs tabs-top">
            <li class="active"><a href="#tab_1" id="litab_1" data-toggle="tab" class="lang" key=""> Certificado de calidad</a></li>
        </ul>
    </div>
    <div class="tab-content" style="overflow:hidden">
        <div class="tab-pane active" id="tab_1">
            <div class="col-md-8" style="margin-top:20px;">
                <form id="formPrincial" name="formPrincial" method="post" onsubmit="return false">
                    <input type="hidden" name="rowid" id="rowid" value="@Model.RowID" />
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="lang">Fecha Revisi&oacute;n </label>
                            </div>
                            <div class="col-md-6">
                                <input class="calendario" type="text" id="fecha_revision" name="fecha_revision" value="@Model.FechaRevision" style="width:100%" placeholder="---" readonly />
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-3">
                                <label class="lang">Documento BL</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" id="documentobl" name="documentobl" style="width:100%" placeholder="---" />
                                <input type="hidden" id="documento_mtz" style="width:100%" name="documento_mtz" value="@Model.MatrizBLID" />
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-3">
                                <label class="lang">Cliente</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" id="cliente" name="cliente" style="width:100%" placeholder="---" readonly disabled />
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-3">
                                <label class="lang">Ciudad</label>
                            </div>
                            <div class="col-md-6">
                                <select style="width:100%" id="ciudad" name="ciudad">
                                    <option value="">- Seleccionr -</option>
                                    @foreach (PedidosOnline.Models.Ciudad ciudad in ViewBag.listaciudades)
                                    {
                                        <option value="@ciudad.RowID">@ciudad.Nombre</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-3">
                                <label class="lang">Direcci&oacute;n</label>
                            </div>
                            <div class="col-md-6">
                                <textarea style="resize:none; width:100%" name="direccion" value="@Model.Direccion" id="direccion"></textarea>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-3">
                                <label class="lang">Producto</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="producto" style="width:100%" id="producto" />
                                <input type="hidden" name="producto_id" id="producto_id" value="@Model.ProductoID" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="lang">Cantidad</label>
                            </div>
                            <div class="col-md-6">
                                <input type="number" id="cantidad" style="width:30%" name="cantidad" value="@Model.Cantidad" />
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-3">
                                <label class="lang">Codigo</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="solo-numero" id="codigo" style="width:100%" name="codigo" value="@Model.Codigo" />
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-3">
                                <label class="lang">Fecha Elaboracion Producto</label>
                            </div>
                            <div class="col-md-6">
                                <input class="calendario" type="text" id="fecha_elaboracion" name="fecha_elaboracion" placeholder="---" style="width:100%" @Model.Fecha_Elaboracion_Producto readonly />
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-3">
                                <label class="lang">Fecha Vencimiento Producto</label>
                            </div>
                            <div class="col-md-6">
                                <input class="calendario" type="text" id="fecha_vencimiento" name="fecha_vencimiento" style="width:100%" value="@Model.Fecha_Vencimiento_Producto" placeholder="---" readonly />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>