@model PedidosOnline.Models.EncabezadoRegistroLlenado
@{
    ViewBag.Title = "FormatoRegistroLlenado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="row" id="div_menu" style="margin-bottom:20px">
        <div class="col-md-12">
            <div class="nav">
                <span>
                    &nbsp;&nbsp;
                    <a href="@Url.Action("Calculadoras","Exportacion",new {  @rih = Request.Params["rih"] })" class="alink">
                        <i class="glyphicon glyphicon-list-alt"></i>&nbsp;<span class="lang" key="VISTA">Vista</span>
                    </a>
                </span>
                <span>
                    <a href="javascript:guardar(1);" class="alink">
                        <i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;<span class="lang" key="GUARDAR">Guardar</span>
                    </a>  
                </span>
                <span>
                    &nbsp;&nbsp;
                    <a href="javascript:guardar(2);" class="alink">
                        <i class="glyphicon glyphicon-floppy-disk"></i><span class="lang" key="GUARDAR_&_CERRAR">&nbsp;Guardar&nbsp;&&nbsp;Cerrar</span>
                    </a>
                </span>
               
            </div>
        </div>
    </div>
    <div class="tabbable tabbable-custom tabs-top">
        <ul class="nav nav-tabs tabs-top">
            <li class="active"><a href="#tab_1" id="litab_1" data-toggle="tab" class="lang" key="">Informacion General Calculadora</a></li>
            <li class="item" style="display:none;"><a href="#tab_2" id="litab_2" data-toggle="tab" class="lang" key="">Items </a></li>
            @*<li class="item" style="display:none"><a href="#tab_3" id="litab_3" data-toggle="tab" class="lang" key="">Balance </a></li>*@
        </ul>
    </div>
    <div class="tab-content" style="overflow:hidden">
        <div class="tab-pane active" id="tab_1">
            <div class="col-sm-12" style="margin-top:20px;">
                <form id="form_encabezado" name="form_encabezado" onsubmit="return false">
                    <input type="hidden" id="encaRowID" name="encaRowID" value="@Model.RowID"/>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="auto_proforma" class="control-label">Proforma</label>
                                <br />
                                @if (Model.RowID > 0)
                                {
                                    <input type="text" id="auto_proforma" placeholder="------" class="col-sm-10" value="@Model.ProformaItemCalculadora.Proforma.Contrato.Consecutivo - @Model.ProformaItemCalculadora.Proforma.Titulo" name="" required />
                                    <input type="hidden" id="proforma_id" class="col-sm-10" name="proforma_id" value="@Model.ProformaItemCalculadora.ProformaID" />
                                }
                                else
                                {
                                    <input type="text" id="auto_proforma" placeholder="------" class="col-sm-10" name="" required />
                                    <input type="hidden" id="proforma_id" class="col-sm-10" name="proforma_id" />
                                }
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Producto </label>
                                <br />
                                <select name="producto_id" id="producto_id" class="col-sm-10" required>
                                    @if (Model.RowID > 0)
                                    {
                                        <option value="" id="primera_opcion" selected >@Model.ProformaItemCalculadora.CalculadoraItems.Item.Referencia</option>

                                    }
                                    else
                                    {
                                        <option value="" id="primera_opcion" selected disabled>Elija un producto</option>

                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Observaciones</label>
                                <br />
                                <textarea cols="10"  class="col-sm-10" rows="3" required></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="tab-pane " id="tab_2">
            <div class="col-md-12" style="margin-top:20px;">
                <form id="form_detalle">
                    <input type="hidden" id="RowID_Detalle" name="RowID_Detalle" />

                    <table class="table table-hover table-responsive" id="table_items">
                        <thead>
                            <tr>
                                <th>Fecha de inspecciòn</th>
                                <th>Número CTU / ISOTANK</th>
                                <th>No. Flexitanks</th>
                                <th>Proveedor Flexitanks</th>
                                <th>Inspección Antinarcoticos</th>
                                <th>Sellos</th>
                                <th>Tipo de Sellos</th>
                                <th>Vehiculo</th>
                                <th>Remolque</th>
                                <th>Hora Llegada Vehiculo</th>
                            </tr>
                            <tr>
                                <th><input type="text" name="fecha_inspeccion" class="fecha_inspeccion" style="width:90px;" id="fecha_inspeccion" required/></th>
                                <th><input type="text" name="num_ctu_isotank" id="num_ctu_isotank" class="num_ctu_isotank col-sm-12" required/></th>
                                <th><input type="text" name="no_flexitanks" id="no_flexitanks" required/></th>
                                <th><input type="text" name="proveedor_flexitanks" id="proveedor_flexitanks" /></th>
                                <th>
                                    <input type="radio" name="inspeccion_antinarcoticos" class="inspeccion_antinarcoticos" value="true" checked/> SI &nbsp;
                                    <input type="radio" name="inspeccion_antinarcoticos" class="inspeccion_antinarcoticos" value="false" /> NO</th>
                                <th>
                                    <input type="text" name="sellos" id="sellos" class="sellos" required/>
                                </th>
                                <th>
                                    <input type="text" name="tipo_sellos" id="tipo_sellos" style="width:80px;" required/>
                                    
                                </th>
                                <th>
                                    <input id="Vehiculo" name="Vehiculo" type="text" style="width:90px;" placeholder="AAA 123" required>
                                    <input name="vehiculoID" type="hidden" id="vehiculoID"  value="" required>
                                </th>
                                <th>
                                    <input name="Remolque" id="Remolque" type="text" style="width:90px;" placeholder="AAA 123" required>
                                    <input name="remolqueID" type="hidden" value="" id="remolqueID" required>
                                </th>
                                <th>
                                    <input type="text" name="fecha_llegada" id="fecha_llegada" class="col-sm-12" />
                                </th>
                                <th>
                                    <a onclick="guardardetalle()"><i class="glyphicon-edit"></i></a>
                                </th>
                            </tr>
                            
                            
                        </thead>
                        <tbody></tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
  

</div>
<script>
    function CargarDetalle(RowID){
        $.ajax({
            url:"CargarDetalle",
            type:"POST",
            data:{
                RowID:RowID
            },
            success:function(data){
                debugger
                $("#RowID_Detalle").val(data.RowID);
                var fecha=new Date(parseInt(data.FechaInsp.replace('/Date(', ''))).toLocaleDateString();
                $("#fecha_inspeccion").val(fecha);
                $("#num_ctu_isotank").val(data.NumeroCTU);
                $("#no_flexitanks").val(data.NumeroFlexi);
                $("#proveedor_flexitanks").val(data.Proveedor);
                $("#sellos").val(data.Sello);
                $("#tipo_sellos").val(data.TipoSello);
                $("#Remolque").val(data.Remolque);
                $("#remolqueID").val(data.RemolqueID);
                fecha=new Date(parseInt(data.FechaLlegada.replace('/Date(', ''))).toLocaleDateString();
                $("#fecha_llegada").val(fecha);
                $("#Vehiculo").val(data.Vehiculo);
                $("#vehiculoID").val(data.VehiculoID);
            },error:function(){

            }
        })
    }

    $("#Remolque").autocomplete({
        source:"RemolqueAutocomplete",
        select:function(evento,ui){
            debugger
            $("#Remolque").val(ui.item.label);
            $("#remolqueID").val(ui.item.RowID);
        }
    });
    $("#Vehiculo").autocomplete({
        source:"VehiculoAutocomplete",
        select:function(evento,ui){
            debugger
            $("#Vehiculo").val(ui.item.label);
            $("#vehiculoID").val(ui.item.RowID);
        }
    });
    $("#auto_proforma").autocomplete({
        source: "auto_completa_proforma",
        select: function (evento, ui) {
            $("#auto_proforma").val(ui.item.label);
            $("#proforma_id").val(ui.item.RowID);
            crear_opcion(ui.item.RowID)

        }
    })
    function crear_opcion(rowid) {
        $.ajax({
            type: "POST",
            url:"opcion_producto",
            data: { RowIDProforma: rowid },
            success: function (data) {
                $("#producto_id").empty();
                $("#producto_id").append(data);
            },
            error: function () {

            }
        })
    }
    $(document).ready(function () {
        $.extend($.validator.defaults, {
            invalidHandler: function (form, validator) {
                var errors = validator.numberOfInvalids();
                if (errors) {
                    var message = errors == 1
                    ? 'Completar Campo Vacio.'
                    : 'Completar ' + errors + ' Campos que se encuentran vacios.';
                    Mensajes(message, 'error', '');
                }
            }
        });
        $.validator.messages.required = 'Campo requerido';
        $.validator.messages.email = 'Campo para correo eléctronico';

        $("#fecha_inspeccion").datepicker({
            dateFormat: 'dd/mm/yy',
            minDate: 0,
            maxDate: '+3Y',
            inline: true
        });
        $("#fecha_llegada").datepicker({
            dateFormat: 'dd/mm/yy',
            minDate: 0,
            maxDate: '+3Y',
            inline: true
        });
        
        TraerInformacion(@Model.RowID)
        if (@Model.RowID>0) {
            $(".item").slideDown();
        }
    })
    function guardar(caso) {
        if (caso==1) {
            guardarencabezado();
        }
        if (caso==2) {

        }
    }
    function guardarencabezado() {
        debugger

        var validar = $("#form_encabezado").validate();
        if (validar.form()) {
           var formData = new FormData(document.getElementById("form_encabezado"))
            $.ajax({
                type: "POST",
                contentType: false,
                processData: false,
                url: "GuardarEncabezadoRegLlen",
                data: formData,
                success: function (data) {
                    $("#encaRowID").val(data);
                    $(".item").slideDown();
                },
                error: function (data) {
                    $("#encaRowID").val(data);
                }
            })
        }
        
    }
    function guardardetalle() {
        var validar = $("#form_detalle").validate();
        if (validar.form()) {
            var formData = new FormData(document.getElementById("form_detalle"));
            formData.append("RowID", $("#encaRowID").val());
            debugger
            $.ajax({
                type: "POST",
                contentType: false,
                processData: false,
                url: "GuardarDetalleRegLlen",
                data: formData,
                success: function (data) {
                    TraerInformacion($("#encaRowID").val());
                    ModalProcesandoHiden();

                },
                error: function (data) {
                    ModalProcesandoHiden();

                    debugger
                }
            })
        }
    }
    function TraerInformacion(RowID){
        $.ajax({
            url:"InformacionTablaRegis",
            type:"POST",
            data:{RowID:RowID},
            success:function(data){
                $("#table_items tbody").empty().append(data);
            },
            error:function(data){
                Mensajes("Error al retornar la información","warning","");
            }
        })
    }
    function eliminar(RowID){
        var Confirmacion=confirm("Desea eliminar el registro");
        if (Confirmacion==true) {
            $.ajax({
                url:"EliminarRegLlen",
                data:{RowID:RowID},
                success:function(){
                    Mensaje("Registro eliminado","success","");
                },
                error:function(){
                }
            })
        }
        else{

        }
    }
</script>