@using PedidosOnline.Models
@model PedidosOnline.Models.OrdenCompra
@{
    ViewBag.Title = "Calculadora";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Styled select boxes -->
<link href="~/Content/Tabs.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=2.0, maximum-scale=1.0, minimum-scale=1.0">
<script type="text/javascript" src="~/Content/js/datetimepicker/jquery.datetimepicker.full.min.js"></script>
<link href="~/Content/js/datetimepicker/jquery.datetimepicker.css" rel="stylesheet">
<style>
    a {
        color: #333;
    }
</style>
<style>
    label {
        width: 100%;
    }

    form input {
        width: 100%;
    }

    form select {
        width: 100%;
    }

    .row {
        margin-bottom: 3px;
    }

    textarea {
        width: 100%;
    }
</style>

<script>
    $.extend($.validator.defaults, {
        invalidHandler: function (form, validator) {
            var errors = validator.numberOfInvalids();
            if (errors) {
                var message = errors == 1
                ? 'Completar Campo Vacio.'
                : 'Completar ' + errors + ' Campos que se encuentran vacios.';
                Mensajes(message, 'error', '');
            }
        }
    });
    $.validator.messages.required = 'Campo requerido';

    $(document).ready(function () {

        $('#DateDetalle').datetimepicker(
           {
               dayOfWeekStart: 1,
               timepicker: true,
               lang: 'es',
               timepicker: false
           });
    });
    function Guardar(accion)
    {

        var validator = $("#formPrincial").validate();
        if (validator.form())
        {
            ModalProcesandoShow();
            var formData = new FormData(document.getElementById("formPrincial"));
            formData.append('observaciones', $('#observaciones').val());
            $.ajax({
                url: "GuardarOrdenCompra",
                type:"post",
                contentType: false,
                processData: false,
                data:formData,
                success:function(data)
                {
                    if (@Model.RowID==0) {
                        location.href = "../OrdenCompra/OrdenCompra?rowid=" + data;
                    }else
                    {
                        Mensajes('Guardado Correctamente','success','');
                    }
                    ModalProcesandoHiden();

                },
                error:function(error)
                {
                    ModalProcesandoHiden();
                    Mensajes(error,'error','');
                }
            })
        }
    }
</script>

<div class="row">
    <div class="row" id="div_menu" style="margin-bottom:20px">
        <div class="col-md-12">
            <div class="nav">
                <span>
                    &nbsp;&nbsp;
                    <a href="@Url.Action("OrdenCompras","Exportacion",new {  @rih = Request.Params["rih"] })" class="alink">
                        <i class="glyphicon glyphicon-list-alt"></i>&nbsp;<span class="lang" key="VISTA">Vista</span>
                    </a>
                </span>
                <span>
                    <a href="javascript:Guardar(1);" class="alink">
                        <i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;<span class="lang" key="GUARDAR">Guardar</span>
                    </a>
                </span>
                <span>
                    &nbsp;&nbsp;
                    <a href="javascript:Guardar(2);" class="alink">
                        <i class="glyphicon glyphicon-floppy-disk"></i><span class="lang" key="GUARDAR_&_CERRAR">&nbsp;Guardar&nbsp;&&nbsp;Cerrar</span>
                    </a>
                </span>
                @if (Model.RowID != 0)
                {
                    <span>
                        &nbsp;&nbsp;
                        <a href="~/SolicitudTransporte/SolicitudTransporte" class="alink">
                            <i class="glyphicon glyphicon-arrow-right"></i><span class="lang" key="Siguiente">Siguiente</span>
                        </a>
                    </span>
                }
            </div>
        </div>
    </div>
    <div class="tabbable tabbable-custom tabs-top">
        <ul class="nav nav-tabs tabs-top">
            <li id="ordencompra" class="active"><a href="#tab_1" id="litab_1" data-toggle="tab" class="lang" key="">Informacion General </a></li>
            <li id="item" style="display:none"><a href="#tab_2" id="litab_2" data-toggle="tab" class="lang" key="">Items </a></li>
        </ul>
    </div>
    <div class="tab-content" style="overflow:hidden">
        <div class="tab-pane active" id="tab_1">
            <div class="col-md-12" style="margin-top:20px;">
                <form id="formPrincial" name="formPrincial" method="post" onsubmit="return false">
                    <input type="hidden" name="rowid" id="rowid" value="@Model.RowID" />
                    <div class="row">
                        <div class="row">
                            <div class="col-md-12">
                                <div style="margin-bottom: 20px">
                                    <h4 class="lang" key=" ">Facturacion</h4>
                                    <hr style="margin:0px">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="lang">Contrato</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="contrato" id="contrato" />
                                    <input type="hidden" name="rowid_contrato" id="rowid_contrato" value="@Model.ContratoID" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="lang">Proveedor</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="proveedor" id="proveedor" />
                                    <input type="hidden" name="rowid_proveedor" id="rowid_proveedor" value="@Model.ProveedorID" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="lang">Nit</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="proveedor_nit" id="proveedor_nit" disabled />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="lang">Telefono</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="proveedor_telefono" id="proveedor_telefono" disabled />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="lang">Direccion</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="proveedor_direccion" id="proveedor_direccion" disabled />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="lang">Ciudad</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="proveedor_ciudad" id="proveedor_ciudad" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="lang">Facturar A</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="tercerofacturacion" id="tercerofacturacion" />
                                    <input type="hidden" name="rowid_facturacion" id="rowid_facturacion" value="@Model.SucursalFactura" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="lang">Nit</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="facturacion_nit" id="facturacion_nit" disabled />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="lang">Telefono</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="facturacion_telefono" id="facturacion_telefono" disabled />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="lang">Direccion</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="facturacion_direccion" id="facturacion_direccion" disabled />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="lang">Ciudad</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="facturacion_ciudad" id="facturacion_ciudad" disabled />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="lang">IVA</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="facturacion_iva" id="facturacion_iva" disabled />
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div style="margin-bottom: 20px">
                                <h4 class="lang" key=" ">Despacho</h4>
                                <hr style="margin:0px">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="lang">Despacho</label>
                                </div>
                                <div class="col-md-6">
                                    <select id="despacho" name="despacho">
                                        <option value="">-Seleccionar-</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="lang">Lugar Entrega</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="despacho_direccion" id="despacho_direccion" disabled />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="lang">Ciudad</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="despacho_ciudad" id="despacho_ciudad" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="lang">Forma Pago</label>
                                </div>
                                <div class="col-md-6">
                                    <select id="formapago" name="formapago">
                                        <option value="">-Seleccionar-</option>
                                        @foreach (PedidosOnline.Models.Opcion item in ((List<PedidosOnline.Models.Opcion>)ViewBag.FormaPago).ToList())
                                        {
                                            if (Model.RowID > 0)
                                            {
                                                if (Model.FormaPagoID == item.RowID)
                                                {
                                                    <option value="@item.RowID" selected>@item.Nombre</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.RowID">@item.Nombre</option>
                                                }
                                            }
                                            else
                                            {
                                                <option value="@item.RowID">@item.Nombre</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="tab_2" class="tab-pane">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover table-responsive table-condensed" id="tablaItems">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Empaque</th>
                                <th>Cantidad</th>
                                <th>Valor Unitario</th>
                                <th>Valor Base</th>
                                <th>Valor Impuesto</th>
                                <th>Valor Total</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <label>Observaciones</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <textarea id="observaciones" name="observaciones" rows="4" style="resize:none">@Model.Observaciones</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    function pageLoad()
    {
        if (@Model.RowID>0) {
            $('#contrato').val("@Model.Contrato.Titulo")
            $('#proveedor').val("@Model.Tercero.RazonSocial")
            $('#tercerofacturacion').val("@Model.Sucursal.Tercero.RazonSocial"+"@Model.Sucursal.Nombre")
            CargarInformacionTerceroFacturacion(@Model.SucursalFactura);
            CargarInformacionTerceroProveedor(@Model.ProveedorID);
            CargarSucursalDespacho(@Model.SucursalFactura);
        }
    }

    $(document).ready(function () {
        pageLoad()
        $('#proveedor').autocomplete({
            source: "BuscarTercero",
            minLength: 1,
            select: function (evento, ui)
            {
                $('#rowid_proveedor').val(ui.item.rowid);
                CargarInformacionTerceroProveedor(ui.item.rowid)
            }
        });
        $('#contrato').autocomplete({
            source: "Contrato",
            minLength: 1,
            select: function (evento, ui) {
                debugger
                $('#rowid_contrato').val(ui.item.rowid);
            }
        });
        $('#tercerofacturacion').autocomplete({
            source: "BuscarTerceroSucursal",
            minLength: 1,
            select: function (evento, ui) {
                $('#rowid_facturacion').val(ui.item.rowid);
                CargarInformacionTerceroFacturacion(ui.item.rowid);
                CargarSucursalDespacho(ui.item.rowid);
            }
        });
    });
    function CargarInformacionTerceroProveedor(rowid)
    {
        $.ajax({
            url: "TerceroInformacion",
            data: { rowid: rowid },
            success: function (data) {
                debugger
                $('#proveedor_nit').val(data[0].nit);
                $('#proveedor_ciudad').val(data[0].ciudad);
                $('#proveedor_telefono').val(data[0].ciudad);
                $('#proveedor_direccion').val(data[0].direccion);
            }
        });
    }
    function CargarInformacionTerceroFacturacion(rowid) {
        debugger
        $.ajax({
            url: "SucursalesTerceroInformacion",
            data: { rowid: rowid },
            success: function (data) {
                debugger
                $('#facturacion_nit').val(data[0].nit);
                $('#facturacion_telefono').val(data[0].nit);
                $('#facturacion_ciudad').val(data[0].ciudad);
                $('#facturacion_direccion').val(data[0].direccion);
            }
        });
    }
    function CargarInformacionDespacho(rowid) {
        $.ajax({
            url: "SucursalesTerceroInformacion",
            data: { rowid: rowid },
            success: function (data) {
                $('#despacho_ciudad').val(data[0].ciudad);
                $('#despacho_direccion').val(data[0].direccion);
            }
        });
    }
    function CargarSucursalDespacho(rowid)
    {
        $.ajax({
            url: "SucursalesTercero",
            data: { rowid: rowid },
            success: function (data)
            {
                $('#despacho').empty();
                $('#despacho').append(data);
                if (@Model.RowID>0) {
                    $('#despacho').val(@Model.SucursalDespacho);
                    CargarInformacionDespacho($('#despacho').val());
                }
            }
        });
    }
    $(document).ready(function () {
        $('#despacho').change(function () {
            CargarInformacionDespacho($('#despacho').val())
        });
    });
</script>
<!--ITEM-->
<script>
    $(document).ready(function () {
        if (@Model.RowID>0) {
            $('#item').show();
            CargarItems();
        }
    });
    function CargarItems()
    {
        $.ajax({
            url:"ItemsOrdenCompra",
            data:{rowid:@Model.RowID},
            success:function(data){
                $('#tablaItems tbody').empty();
                $('#tablaItems tbody').append(data);
            }

        })
    }
    function ActualizarItem(rowid)
    {
        var cantidad=$('#cant'+rowid).val();
        var valor=$('#valor'+rowid).val();
        $.ajax({
            url:"ActualizarCantidad",
            data:{rowid:rowid,
                cantidad:cantidad,
                valor:valor
            },
            success:function(data){

            },
            error:function(error){
                Mensajes('Error al Actualizar la Cantidad','error','');
            }
        });
    }

    function CalcularCampos(rowid)
    {
        var cantidad=$('#cant'+rowid).val();
        var valorUnitario=$('#valor'+rowid).val();
        $.ajax({
            url:"ActualizarValores",
            data:{rowid:rowid,cantidad:cantidad,valorUnitario:valorUnitario},
            success:function(data){
                $('#valortotal'+rowid).html(data.ValorTotal);
                $('#valorimpuesto'+rowid).html(data.ValorImpuesto);
                $('#valorbase'+rowid).html(data.ValorBase);
                CalcularTotales();
            }
        })
    }
    function CalcularTotales()
    {
        $.ajax({
            url:"Totales",
            data:{rowid:@Model.RowID},
            success:function(data){
                $('#totalcantidad').html(data.Cantidad);
                $('#totalunitario').html(data.Valorunitario);
                $('#totalbase').html(data.valorbase);
                $('#totalimpuesto').html(data.valorimpuesto);
                $('#totaltotal').html(data.valortotal);
            }
        })
    }



</script>
<!--ITEM-->