@model PedidosOnline.Models.SolicitudTransporte
@{
    ViewBag.Title = "SolicitudTransporte";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Tabs.css" rel="stylesheet" />
<style>
    a {
        color: #333;
    }
</style>
<script type="text/javascript">
    function guardarSolicitud(a)
    {
        debugger
        ModalProcesandoShow();
        var RowID = $(".RowID").val();
        var RowIDCon = $(".RowIDCon").val();
        var RowIDPro= $(".RowIDPro").val();
        var plantaC = $("#plantaC").val();
        var plantaD = $("#plantaD").val();
        var fechaC = $("#fechaC").val();
        var fechaD = $("#fechaE").val();
        //var validator = $("#form").validate();
        //if (validator.form()) {
        if(RowIDCon == ""){
            Mensajes('El campo contrato es requerido!', 'error', '');
            ModalProcesandoHiden();
            return null;
        }
        if(RowIDPro == ""){
            Mensajes('El campo proveedor es requerido!', 'error', '');
            ModalProcesandoHiden();
            return null;
        }
        if(plantaC== ""){
            Mensajes('El campo planta de cargue es requerido!', 'error', '');
            ModalProcesandoHiden();
            return null;
        }
        if(plantaD== ""){
            Mensajes('El campo planta de descargue es requerido!', 'error', '');
            ModalProcesandoHiden();
            return null;
        }
        if(fechaC== ""){
            Mensajes('El campo fecha de cargue es requerido!', 'error', '');
            ModalProcesandoHiden();
            return null;

        }
        if(fechaD== ""){
            Mensajes('El campo fecha entrega es requerido!', 'error', '');
            ModalProcesandoHiden();
            return null;
        }
        //var tiposT = $("input:checkbox[name=transporte]:checked").val();

        var checkboxValues = "";
        $('input[name="transporte"]:checked').each(function() {
            checkboxValues += $(this).val() + ",";
        });
                $.ajax({
                    type: "POST",
                    url: "RegistrarSolicitudTransporte",
                    data: {
                        formulario: $("#form").serialize(),
                        RowID: RowID,
                        RowIDCon: RowIDCon,
                        RowIDPro: RowIDPro,
                        tipoT: checkboxValues
                    },
                    success: function (data2) {
                        debugger
                        window.location = "/Exportacion/SolicitudTransportes";
                        Mensajes(data2.mensaje, "success", '');
                        ModalProcesandoHiden();
                    },
                    error: function (request) {
                        Mensajes(request.responseText, 'error', '');
                    }
                });

        //}
    }

    function cargarItemsContrato(rowid_contrato) {
        $.ajax({
            type: "GET",
            url: "ItemsContrato1",
            data: {
                RowID: rowid_contrato
            },
            success: function (data) {
                $('#tblProductos tbody').empty();
                $('#tblProductos tbody').append(data);
            },
            error: function (request) {
                Mensajes("Se presento un error", 'error', '');

            }
        });
    }



</script>
<div class="panel">
    <div class="row">
        <div class="row" id="div_menu" style="margin-bottom:20px">
            <div class="col-md-12">
                <div class="nav">
                    <span>
                        &nbsp;&nbsp;
                        <a href="@Url.Action("SolicitudTransportes","Exportacion",new {  @rih = Request.Params["rih"] })" class="alink">
                            <i class="glyphicon glyphicon-list-alt"></i>&nbsp;<span class="lang" key="VISTA">Vista&nbsp;&nbsp;</span>
                        </a>
                    </span>
                    <span>
                        <a href="javascript:guardarSolicitud(1);" class="alink">
                            <i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;<span class="lang" key="GUARDAR">Guardar</span>
                        </a>
                    </span>
                    <span>
                        &nbsp;&nbsp;
                        <a href="javascript:guardarSolicitud(2);" class="alink">
                            <i class="glyphicon glyphicon-floppy-disk"></i><span class="lang" key="GUARDAR_&_CERRAR">&nbsp;Guardar&nbsp;&&nbsp;Cerrar</span>
                        </a>
                    </span>
                    @if (Model.RowID != 0)
                    {
                        <span>
                            &nbsp;&nbsp;
                            <a href="~/Exportacion/SolicitudLlenado" class="alink">
                                <i class="glyphicon glyphicon-arrow-right"></i><span class="lang" key="Siguiente">Siguiente</span>
                            </a>
                        </span>
                    }
                </div>
            </div>
        </div>
        <div class="tabbable tabbable-custom tabs-top">
            <ul class="nav nav-tabs tabs-top">
                <li id="li_tab1" class="active"><a href="#tab1" data-toggle="tab">Datos generales</a></li>
                <li id="li_tab2"><a href="#tab2" data-toggle="tab">Items</a></li>

            </ul>
        </div>
        <div class="tab-content" style="overflow:hidden">
            <div class="col-md-12">
                <form id="form" name="form" onsubmit="return false">
                    <input type="hidden" class="RowID" name="RowID" value="@Model.RowID" />
                    <input type="hidden" class="RowIDCon" name="RowIDCon" />
                    <input type="hidden" class="RowIDPro" name="RowIDPro" />
                    <div class="col-md-5">
                        <div class="form-group">
                            <div class="col-md-3">
                                <label for="autoc_contrato" class="lang" key="CONTRATO">Contrato</label>
                            </div>
                            <div class="col-md-5">
                                @if (Model.RowID > 0)
                                {
                                    <input type="text" id="autoc_contrato" name="autoc_contrato" value="@Model.Contrato.Titulo" placeholder="---" style="width: 100%" autocomplete="off" autofocus required />
                                }
                                else
                                {
                                    <input type="text" id="autoc_contrato" name="autoc_contrato" placeholder="---" style="width: 100%" autocomplete="off" autofocus required />
                                }

                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <div class="col-md-3">
                                <label for="autoc_proveedor" class="lang">Proveedor</label>
                            </div>
                            <div class="col-md-5">
                                @if (Model.RowID > 0)
                                {
                                    <input type="text" id="autoc_proveedor" name="autoc_proveedor" value="@Model.Tercero.ContactoERP.Nombre" placeholder="---" style="width: 100%" autocomplete="off" autofocus required />
                                }
                                else
                                {
                                    <input type="text" id="autoc_proveedor" name="autoc_proveedor" placeholder="---" style="width: 100%" autocomplete="off" autofocus required />
                                }

                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <div class="col-md-3">
                                <label for="cantidadV" class="lang">Cant. vehículos</label>
                            </div>
                            <div class="col-md-5">
                                <input type="text" id="cantidadV" name="cantidadV" value="@Model.Cantidad" style="width: 100%" />
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <div class="col-md-3">
                                <label for="flete" class="lang">Imputar Flete a</label>
                            </div>
                            <div class="col-md-5">
                                <input type="text" id="flete" name="flete" value="@Model.Flete" style="width: 100%" />
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <div class="col-md-3">
                                <label for="plantaC" class="lang">Planta Cargue</label>
                            </div>
                            <div class="col-md-5">
                                <select id="plantaC" name="plantaC" style="width: 100%" required>
                                    <option value="">---</option>
                                    @foreach (var planta in ViewBag.plantas)
                                    {
                                        if (/*Model.RowID != null ||*/ Model.RowID > 0)
                                        {
                                            if (Model.Planta.RowID == planta.RowID)
                                            {
                                                <option value="@Model.Planta.RowID" selected>@Model.Planta.Nombre</option>
                                            }
                                            else
                                            {
                                                <option value="@planta.RowID">@planta.Nombre</option>
                                            }
                                        }
                                        else
                                        {
                                            <option value="@planta.RowID">@planta.Nombre</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <div class="col-md-3">
                                <label for="fechaC" class="lang">Fecha Carge</label>
                            </div>
                            <div class="col-md-5">
                                <input type="text" id="fechaC" name="fechaC" style="width: 100%" value="@Model.FechaCargue" readonly="readonly" />
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <div class="col-md-3">
                                <label for="requisitosC" class="lang">Req. Cargue</label>
                            </div>
                            <div class="col-md-5">
                                <textarea type="text" id="requisitosC" name="requisitosC" style="width: 100%; resize:none" rows="6">@Model.RequisitosCargue</textarea>
                            </div>
                        </div>


                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-3">
                                <label for="plantaD" class="lang">Planta Descargue</label>
                            </div>
                            <div class="col-md-5">
                                <select id="plantaD" name="plantaD" style="width: 100%" required>
                                    <option value="">---</option>
                                    @foreach (var planta in ViewBag.plantas)
                                    {
                                        if (Model.RowID > 0)
                                        {
                                            if (Model.Planta1.RowID == planta.RowID)
                                            {
                                                <option value="@Model.Planta1.RowID" selected>@Model.Planta1.Nombre</option>
                                            }
                                            else
                                            {
                                                <option value="@planta.RowID">@planta.Nombre</option>
                                            }
                                        }
                                        else
                                        {
                                            <option value="@planta.RowID">@planta.Nombre</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <div class="col-md-3">
                                <label for="fechaE" class="lang">Fecha Entrega</label>
                            </div>
                            <div class="col-md-5">
                                <input type="text" id="fechaE" name="fechaE" style="width: 100%" value="@Model.FechaEntrega" readonly="readonly" />
                            </div>
                        </div>
                        <br />
                        <div class="form-group ">
                            <div class="col-md-3">
                                <label for="requisitosC" class="lang">Req. Descargue</label>
                            </div>
                            <div class="col-md-5">
                                <textarea type="text" id="requisitosD" name="requisitosD" style="width: 100%; resize:none" rows="6">@Model.RequisitosDescargue</textarea>
                            </div>
                        </div>
                        <br /><br /><br /><br /><br /><br />
                        <div class="form-group ">
                            <div class="col-md-3">
                                <label for="transporte" class="lang">Tipo Vehículo</label>
                            </div>
                            <div class="col-md-8">
                                @if (ViewBag.tipoV == null)
                                {
                                    <div class="col-md-6">
                                        <input type="checkbox" name="transporte" value="Térmico">Térmico
                                        <br>
                                        <input type="checkbox" name="transporte" value="Acerado - Serpentín">Acerado - Serpentín
                                        <br>
                                        <input type="checkbox" name="transporte" value="Lamina Negra">Lamina Negra
                                        <br>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="checkbox" name="transporte" value="Aluminio">Aluminio
                                        <br>
                                        <input type="checkbox" name="transporte" value="Plancha">Plancha
                                        <br>
                                        <input type="checkbox" name="transporte" value="Carrocería">Carrocería
                                    </div>
                                }
                                else
                                {

                                    <div class="col-md-6">
                                        @foreach (var tipo1 in ViewBag.tipo)
                                        {
                                            int b = 0;
                                            foreach (var tipo2 in ViewBag.tipoV)
                                            {
                                                if (@tipo2.Nombre == tipo1)
                                                {
                                                    <input type="checkbox" name="transporte" value="@tipo2.Nombre" checked> @tipo2.Nombre
                                                    b = 1;
                                                    break;
                                                }
                                            }
                                            if (b == 0)
                                            {
                                                <input type="checkbox" name="transporte" value="@tipo1"> @tipo1;
                                            }
                                            <br>
                                        }
                                    </div>

                                    <div class="col-md-6">
                                        @foreach (var tipo1 in ViewBag.tipo1)
                                        {
                                            int b = 0;
                                            foreach (var tipo2 in ViewBag.tipoV)
                                            {
                                                if (@tipo2.Nombre == tipo1)
                                                {
                                                    <input type="checkbox" name="transporte" value="@tipo2.Nombre" checked> @tipo2.Nombre
                                                    b = 1;
                                                    break;
                                                }
                                            }
                                            if (b == 0)
                                            {
                                                <input type="checkbox" name="transporte" value="@tipo1"> @tipo1;
                                            }
                                            <br>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                        <br /><br /><br /><br />

                        <div class="form-group ">
                            <div class="col-md-3">
                                <label for="vendedor" class="lang">Dir. proveedor</label>
                            </div>
                            <div class="col-md-5">
                                <input type="text" id="direccionP" name="direccionP" style="width: 100%;" placeholder="---" disabled />
                            </div>
                        </div>
                        <br />
                        <div class="form-group ">
                            <div class="col-md-3">
                                <label for="vendedor" class="lang">Nit proveedor</label>
                            </div>
                            <div class="col-md-5">
                                <input type="text" id="nitP" name="nitP" style="width: 100%;" placeholder="---" disabled />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="tab_2" class="tab-pane">
            <div class="col-md-12" style="margin-top:20px;">
                <table id="tblProductos" class="table table-condensed table-striped table-bordered table-hover table-checkable table-responsive">
                    <thead>
                        <tr>
                            <th>Ref.</th>
                            <th>Descripcion</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Und. empaque</th>
                            <th>Peso</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $('#fechaE').datepicker({
        dateFormat: 'dd/mm/yy',
        minDate: 0,
        maxDate: '+3Y',
        inline: true
    });

    $('#fechaC').datepicker({
        dateFormat: 'dd/mm/yy',
        minDate: 0,
        maxDate: '+3Y',
        inline: true
    });

    $('#autoc_proveedor').on('keyup keypress', function (e) {
        debugger
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) { //Enter keycode
            return false;
        }
    });

    $("#autoc_proveedor").autocomplete({
        source: "Solicitud_Buscar_Proveedor",
        minLenght: 3,
        select: function (evento, ui) {//seleccion al autocompletar
            debugger
            if (ui.item != null) {//si hay valor en la seleccion autocompletar
                $("#autoc_proveedor").val(ui.item.label);
                $("#direccionP").val(ui.item.Direccion);
                $("#nitP").val(ui.item.Nit);
                $(".RowIDPro").val(ui.item.RowID);
            }
        },
        change: function (event, ui) {

        }
    });

    $('#autoc_contrato').on('keyup keypress', function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) { //Enter keycode
            return false;
        }
    });

    $("#autoc_contrato").autocomplete({
        source: "Contrato_Buscar_Todos",
        minLenght: 3,
        select: function (evento, ui) {//seleccion al autocompletar
            debugger
            if (ui.item != null) {//si hay valor en la seleccion autocompletar
                $("#autoc_contrato").val(ui.item.label);
                $(".RowIDCon").val(ui.item.RowID);
                cargarItemsContrato(ui.item.RowID);
            }
        },
        change: function (event, ui) {

        }
    });

    $("#li_tab1").click(function () {
        debugger
        $("#tblProductos").hide();
        $("#form").show();

    });

    $("#li_tab2").click(function () {
        debugger
        $("#tblProductos").show();
        $("#form").hide();
    });


    $(document).ready(function () {
        $("#tblProductos").hide();
        debugger
        if (@Model.RowID > 0)
        {
            var proveedor = $("#autoc_proveedor").val();
            $.ajax({
                type: "GET",
                url: "Datos_Proveedor",
                data:
                      {
                          proveedor: proveedor
                      },
                success: function (data) {
                    $("#direccionP").val(data.Direccion);
                    $("#nitP").val(data.Nit);
                    $(".RowIDPro").val(@Model.ProveedorID);
                    //cargarItemsContrato(data.RowID);
                },
                error: function (request) {
                    Mensajes("Se presento un error", 'error', '');

                }
            });


            var titulo = $("#autoc_contrato").val();
            $.ajax({
                type: "GET",
                url: "Datos_Contrato",
                data:
                      {
                          titulo: titulo
                      },
                success: function (data) {
                    $(".autoc_contrato").val(data.Titulo);
                    $(".RowIDCon").val(data.RowID);
                    cargarItemsContrato(data.RowID);
                },
                error: function (request) {
                    Mensajes("Se presento un error", 'error', '');

                }
            });
        }
    });



</script>
