@model PedidosOnline.Utilidades.reg_Proforma
@{
    ViewBag.Title = "Proformas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Tabs.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=2.0, maximum-scale=1.0, minimum-scale=1.0">
<script type="text/javascript" src="~/Content/js/datetimepicker/jquery.datetimepicker.full.min.js"></script>
<link href="~/Content/js/datetimepicker/jquery.datetimepicker.css" rel="stylesheet">
<style>
    a {
        color: #333;
    }
</style>
<style>
    label {
        width: 100%;
    }

    form input {
        width: 100%;
    }

    form select {
        width: 100%;
    }

    .row {
        margin-bottom: 3px;
    }

    textarea {
        width: 100%;
    }
</style>
<script>

    $(document).ready(function(){
        $('#item').hide();
        $('#items').click(function()
        {
            $('#guardarProforma').hide();
            $('#item').show();
        })
        $('#proforma').click(function()
        {
            $('#guardarProforma').show();
            $('#item').hide();
        })
    });
</script>
<div class="row" id="div_menu" style="margin-bottom:20px">
    <div class="col-md-12">
        <div class="nav">
            <span>
                &nbsp;&nbsp;
                <a href="@Url.Action("Proformas","Proforma",new {  @rih = Request.Params["rih"] })" class="alink">
                    <i class="glyphicon glyphicon-list-alt"></i>&nbsp;<span class="lang" key="VISTA">Vista</span>
                </a>
            </span>
            <span id="guardarProforma">
                <a href="javascript:Guardar(1);" class="alink">
                    <i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;<span class="lang" key="GUARDAR">Guardar</span>
                </a>
            </span>
            <span id="item">
                <a href="javascript:GuardarItem(1);" class="alink">
                    <i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;<span class="lang" key="GUARDAR">Guardar</span>
                </a>
            </span>
            @if (Model.Proforma.RowID != 0)
            {
                <span>
                    &nbsp;&nbsp;
                    <a href="~/Contrato/Contrato" class="alink">
                        <i class="glyphicon glyphicon-arrow-right"></i><span class="lang" key="Siguiente">Siguiente</span>
                    </a>
                </span>
            }
            @if (Model.Proforma.RowID != 0)
            {
                <span>
                    &nbsp;&nbsp;
                    <a href="javascript:abrir_modal_recursos()" class="alink">
                        <i class="glyphicon glyphicon-arrow-right"></i><span class="lang" key="Recursos">Recursos</span>
                    </a>
                </span>
            }
        </div>
    </div>
</div>
<div class="row">
    <div class="tabbable tabbable-custom tabs-top">
        <ul class="nav nav-tabs tabs-top">
            <li id="proforma" class="active"><a href="#tab_1" id="litab_1" data-toggle="tab" class="lang" key="">Informacion General </a></li>
            <li id="items"><a href="#tab_2" id="litab_2" data-toggle="tab" class="lang" key="">Items</a></li>
        </ul>
    </div>
    <div class="tab-content" style="overflow:hidden">
        <div class="tab-pane active" id="tab_1">
            <div class="col-md-12" style="margin-top:20px;">
                <form id="formPrincial" name="formPrincial" method="post" onsubmit="return false">
                    <input type="hidden" name="rowid" id="rowid" value="@Model.Proforma.RowID" />
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-3">
                                <label>Encabezado</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" id="encabezado" name="encabezado" value="@Model.Proforma.Titulo" required />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-3">
                                <label>Fecha</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" id="fecha" name="fecha" value="@(Model.Proforma.RowID>0?Model.Proforma.Fecha:DateTime.Now)" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="lang">Vendedor</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" id="vendedor" name="vendedor" required />
                                <input type="hidden" id="rowid_vendedor" value="@Model.Proforma.VendedorID" name="rowid_vendedor" required />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label class="lang">Nit</label>
                            </div>
                            <div class="col-md-6">
                                <label id="txt_nit"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label class="lang">Direccion</label>
                            </div>
                            <div class="col-md-6">
                                <label id="txt_direccion"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label class="lang">Ciudad</label>
                            </div>
                            <div class="col-md-6">
                                <label id="txt_ciudad"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label class="lang">Razon Social</label>
                            </div>
                            <div class="col-md-6">
                                <label id="txt_razonsocial"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="lang">Comprador</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" id="comprador" name="comprador" required />
                                <input type="hidden" id="rowid_comprador" value="@Model.Proforma.CompradorID" name="rowid_comprador" required />
                            </div>
                        </div>
                        <div class="row calculadora">
                            <div class="col-md-3">
                                <label class="lang">Calculadora</label>
                            </div>
                            <div class="col-md-6">
                                <select id="calculadora" name="calculadora" required></select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label class="lang">Direccion</label>
                            </div>
                            <div class="col-md-6">
                                <label id="txt_direccion_c"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label class="lang">Telefono</label>
                            </div>
                            <div class="col-md-6">
                                <label id="txt_telefono_c"></label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="tab_2" class="tab-pane">
            <form id="formItem" name="formItem" onsubmit="return false">
                <input type="hidden" name="rowid" id="rowid" value="@Model.Proforma.RowID" />
                <div class="row">
                    <div class="col-md-12">
                        <table id="tableItems" class="table table-striped table-responsive table-hover">
                            <thead>
                                <tr>
                                    <th>BIENES Y SERVICIOS</th>
                                    <th>TM</th>
                                    <th>U.V./USD</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (PedidosOnline.Models.CalculadoraItems item in Model.items.ToList())
                                {
                                    <tr>
                                        <td>@item.Item.Descripcion</td>
                                        <td>@item.CantidadTonelada</td>
                                        <td>@item.PVE</td>
                                        <td>@item.DatosVentaUSDTotal</td>
                                    </tr>
                                }
                                <tr>
                                    <td>FOB(USD)</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                @{
                                    double? totalFlete = (double)(Model.items.Sum(f => f.FleteTerrUSDTON)) * Model.items.Sum(f => f.CantidadTonelada);
                                    double? totalSeguro = (double)(Model.items.Sum(f => f.DVSeguroPorton)) * Model.items.Sum(f => f.CantidadTonelada);
                                    double? totaltermino = (double)(Model.items.Sum(f => f.PVE)) * Model.items.Sum(f => f.CantidadTonelada);
                                }
                                <tr>
                                    <td>Flete</td>
                                    <td>@Model.items.Sum(f => f.FleteTerrUSDTON)</td>
                                    <td></td>
                                    <td>@totalFlete</td>
                                </tr>
                                <tr>
                                    <td>Seguro</td>
                                    <td>@Model.items.Sum(f => f.DVSeguroPorton)</td>
                                    <td></td>
                                    <td>@totalSeguro</td>
                                </tr>
                                <tr>
                                    <td>@Model.Proforma.Calculadora.Opcion.Nombre</td>
                                    <td>@Model.items.Sum(f => f.PVE)</td>
                                    <td></td>
                                    <td>@totaltermino</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div style="margin-bottom: 20px">
                            <h4 class="lang" key=" ">Pago</h4>
                            <hr style="margin:0px">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-3">
                                <label>Forma de Pago</label>
                            </div>
                            <div class="col-md-6">
                                <select id="formapago" name="formapago" required>
                                    <option value="">-Seleccionar-</option>
                                    @foreach (PedidosOnline.Models.Opcion p in ((List<PedidosOnline.Models.Opcion>)ViewBag.FormaPago).ToList())
                                    {
                                        if (Model.Proforma.RowID > 0)
                                        {
                                            if (Model.Proforma.TipoPagoID == p.RowID)
                                            {
                                                <option value="@p.RowID" selected>@p.Nombre</option>
                                            }
                                            else
                                            {
                                                <option value="@p.RowID">@p.Nombre</option>
                                            }
                                        }
                                        else
                                        {
                                            <option value="@p.RowID">@p.Nombre</option>
                                        }
                                    }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div style="margin-bottom: 20px">
                            <h4 class="lang" key=" ">Datos de Embarque</h4>
                            <hr style="margin:0px">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-3">
                                <label>Numero Contrato</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" id="numerocontrato" name="numerocontrato" value="@Model.Proforma.NumeroContrato" required />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-3">
                                <label>Fecha Envio</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" id="fechaenvio" name="fechaenvio" value="@Model.Proforma.FechaEnvio" required />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-3">
                                <label>Puerto Cargue</label>
                            </div>
                            <div class="col-md-6">
                                <select id="puertocargue" name="puertocargue" required>
                                    <option value="">-Seleccionar-</option>
                                    @foreach (PedidosOnline.Models.Puerto p in ((List<PedidosOnline.Models.Puerto>)ViewBag.Puertos).ToList())
                                    {
                                        if (Model.Proforma.RowID > 0)
                                        {
                                            if (Model.Proforma.PuertoCargueID == p.RowID)
                                            {
                                                <option value="@p.RowID" selected>@p.Nombre</option>
                                            }
                                            else
                                            {
                                                <option value="@p.RowID">@p.Nombre</option>
                                            }
                                        }
                                        else
                                        {
                                            <option value="@p.RowID">@p.Nombre</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-3">
                                <label>Puerto Descargue</label>
                            </div>
                            <div class="col-md-6">
                                <select id="puertodescargue" name="puertodescargue" required>
                                    <option value="">-Seleccionar-</option>
                                    @foreach (PedidosOnline.Models.Puerto p in ((List<PedidosOnline.Models.Puerto>)ViewBag.Puertos).ToList())
                                    {
                                        if (Model.Proforma.RowID > 0)
                                        {
                                            if (Model.Proforma.PuertoDescargueID == p.RowID)
                                            {
                                                <option value="@p.RowID" selected>@p.Nombre</option>
                                            }
                                            else
                                            {
                                                <option value="@p.RowID">@p.Nombre</option>
                                            }
                                        }
                                        else
                                        {
                                            <option value="@p.RowID">@p.Nombre</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-3">
                                <label>Destino</label>
                            </div>
                            <div class="col-md-6">
                                <label id="txt_destino">@Model.Proforma.Calculadora.Ciudad.Nombre</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <label>Observaciones</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <textarea id="observaciones" name="observaciones" rows="3">@Model.Proforma.Observaciones</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $.extend($.validator.defaults, {
        invalidHandler: function (form, validator) {
            var errors = validator.numberOfInvalids();
            if (errors) {
                var message = errors == 1
                ? 'Completar Campo Vacio.'
                : 'Completar ' + errors + ' Campos que se encuentran vacios.';
                Mensajes(message, 'error', '');
            }
        }
    });
    $.validator.messages.required = 'Campo requerido';

    $(document).ready(function () {
        $('#fechaenvio').datetimepicker(
           {
               dayOfWeekStart: 1,
               timepicker: true,
               lang: 'es',
               timepicker: false
           });
        loadPage()
        $('#vendedor').autocomplete({
            source: "BuscarTercero",
            minLength: 1,
            select: function (eve, ui) {
                $('#rowid_vendedor').val(ui.item.rowid);
                $('#txt_direccion').html(ui.item.direccion);
                $('#txt_nit').html(ui.item.nit);
                $('#txt_razonsocial').html(ui.item.label);
                $('#txt_ciudad').html(ui.item.ciudad);
            }
        })
        $('#comprador').autocomplete({
            source: "BuscarTercero",
            minLength: 1,
            select: function (eve, ui) {
                $('#rowid_comprador').val(ui.item.rowid);
                $('#txt_direccion_c').html(ui.item.direccion);
                $('#txt_telefono_c').html(ui.item.telefono);
                CalculadorasCombo()
            }
        })
    })
    function loadPage()
    {
        CalculadorasCombo()
        if (@Model.Proforma.RowID>0) {
            $('#items').show();
            $('#vendedor').val("@Model.Proforma.Tercero1.RazonSocial");
            $('#comprador').val("@Model.Proforma.Tercero.RazonSocial");
            var rowid1=0;
            var rowid2=0;
            if (@Model.Proforma.RowID>0) {
                rowid1="@Model.Proforma.VendedorID";
                rowid2="@Model.Proforma.CompradorID";
            }

            CargarInformacionTerceros(rowid1,'V');
            CargarInformacionTerceros(rowid2,'C');
        }
        else
        {
            $('#items').hide();
        }
    }
    function CalculadorasCombo()
    {
        if ($('#rowid_comprador').val()!='') {
            $('.calculadora').show();
        }
        else
        {
            $('.calculadora').hide();
            return;
        }
        $.ajax({
            url:"CalculadoraComprador",
            data:{rowid:$('#rowid_comprador').val()},
            success:function(data){
                $('#calculadora').empty();
                $('#calculadora').append(data);
                if (@Model.Proforma.RowID>0) {
                    $('#calculadora').val(@Model.Proforma.CalculadoraID);
                }
            }

        })
    }
    function CargarInformacionTerceros(rowid,tipo)
    {
        $.ajax({
            url:"InfoTercero",
            data:{rowid:rowid},
            success:function(data){
                if (tipo=='V') {
                    $('#rowid_vendedor').val(data[0].rowid);
                    $('#txt_direccion').html(data[0].direccion);
                    $('#txt_nit').html(data[0].nit);
                    $('#txt_razonsocial').html(data[0].label);
                    $('#txt_ciudad').html(data[0].ciudad);
                }
                else{
                    $('#rowid_comprador').val(data[0].rowid);
                    $('#txt_direccion_c').html(data[0].direccion);
                    $('#txt_telefono_c').html(data[0].telefono);
                }
            }

        })
    }
    function Guardar()
    {
        var validator = $("#formPrincial").validate();
        if (validator.form())
        {
            var formData = new FormData(document.getElementById("formPrincial"));
            ModalProcesandoShow();
            $.ajax({
                url:"GuardarProforma",
                type:"post",
                contentType: false,
                processData: false,
                data: formData,
                success:function(data)
                {
                    debugger
                    if (@Model.Proforma.RowID>0) {
                        Mensajes('Guardado Satisfactoriamente','success','');
                    }
                    else
                    {
                        location.href="../Proforma/Proforma?rowid="+data;
                    }
                    ModalProcesandoHiden();
                },
                error:function(error)
                {
                    ModalProcesandoHiden();
                    Mensajes(error,'error','');
                }
            })
        }
    }
</script>
<!--ITEMS-->
<script>
    $(document).ready(function(){
        if (@Model.Proforma.RowID>0) {
           // CargarItems()
        }
    })
    function CargarItems()
    {
        var rowid=0;
        if (@Model.Proforma.RowID>0) {
            rowid=@Model.Proforma.CalculadoraID;
            }
        else
        {
            rowid=0;
        }

        $.ajax({
            url:"ItemsCalculadora",
            data:{rowid:rowid},
            success:function(data)
            {
                $('#tableItems tbody').empty();
                $('#tableItems tbody').append(data);
            }
        })
    }

    function GuardarItem()
    {
        var validator = $("#formItem").validate();
        if (validator.form())
        {
            ModalProcesandoShow();
            var formData = new FormData(document.getElementById("formItem"));
            $.ajax({
                url:"GuardarProformaItems",
                type:"post",
                contentType: false,
                processData: false,
                data: formData,
                success:function(data)
                {
                    Mensajes('Guardado Correctamente','success','');
                    ModalProcesandoHiden();
                },
                error:function(error)
                {
                    ModalProcesandoHiden();
                    Mensajes(error,'error','');
                }
            })
        }

    }
    function abrir_modal_recursos(){
        urlcontroller="RecursoProformaImportacion";

    }
</script>
<!--ITEMS-->