@model PedidosOnline.Models.CertificadoCalidad
@{
    ViewBag.Title = "ListaCertificadoCalidad";
}

<style>
    a {
        color: #333;
    }
</style>
<script>

    $(document).ready(function () {
        $('tbl_certificado_calidad').dataTable({
            " processing": true,
            "bFilter": true,
            "bPaginate": true,
            "info": false,
            "bDestroy":true,
            aLengthMenu: [
            [15, 25, 50, 100, -1],
            [15, 25, 50, 100, "All"]
            ],
            "iDisplayLength": 15

        });

    });
</script>
<div class="panel">
    <div class="row">
        <div>
            <div class="nav">
                <span>
                    &nbsp;&nbsp;
                    <a href="@Url.Action("CertificadoCalidad", "CertificadoCalidad")" class="alink">
                        <i class="glyphicon glyphicon-plus"></i>&nbsp;<span class="lang" key="NUEVO">Nuevo</span>
                    </a>
                </span>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <table id="tbl_certificado_calidad" class="table table-condensed table-striped table-bordered table-hover table-checkable table-responsive">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Producto</th>
                        <th>Codigo</th>
                        <th>Fecha revision</th>
                        <th>Cliente</th>
                        <th>Ciudad</th>
                        <th>Fecha elaboracion</th>
                        <th>Fecha Fecha Vencimiento</th>
                        <th>Cantidad</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (PedidosOnline.Models.CertificadoCalidad item in ViewBag.listadocalidad)
                    {
                        <tr>
                            <td>@item.RowID</td>
                            <td>@item.Item.Descripcion</td>
                            <td>@item.Codigo</td>
                            <td>@item.FechaRevision</td>
                            <td>@item.Cliente</td>
                            <td>@item.Ciudad.Nombre</td>
                            <td>@item.Fecha_Elaboracion_Producto</td>
                            <td>@item.Fecha_Vencimiento_Producto</td>
                            <td>@item.Cantidad</td>
                            <td><a href="@Url.Action("CertificadoCalidad", "CertificadoCalidad", new { RowID = item.RowID })"><i class="glyphicon glyphicon-pencil"></i></a></td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>



